[Unit]
Description=deepsplit backend service
After=network.target

[Service]
User=deep
WorkingDirectory=/home/deep/deepsplit
Environment="PORT=9342"
ExecStart=/home/deep/deepsplit/deepsplit_be
Restart=always

[Install]
WantedBy=multi-user.target